.repo {
  border: solid 2px rgb(47, 45, 45);
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &-name {
      font-size: 1.5em;
      font-weight: 600;
      
    }
  }
}

.repo:hover {
  border: 3px solid rgb(40, 101, 234);
  transform: scale(1.05);
  transition: 0.3s;
}
